# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [5]:
import pandas as pd
import numpy as np

# Seu código aqui
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
temperaturas = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
dicionario = {'ano' : anos, 'anomalia termica' : temperaturas}

df = pd.DataFrame(dicionario)
df

    ano  anomalia termica
0  1900             -0.08
1  1920             -0.27
2  1940              0.12
3  1960             -0.03
4  1980              0.26
5  2000              0.40
6  2020              1.02

#### 2) Coloque os anos nos índices conforme a tabela.

In [8]:

# seu código aqui
df.index = anos
df

       ano  anomalia termica
1900  1900             -0.08
1920  1920             -0.27
1940  1940              0.12
1960  1960             -0.03
1980  1980              0.26
2000  2000              0.40
2020  2020              1.02

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [14]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
series_temperaturas = pd.Series(data = dic_temperaturas.values(), index = dic_temperaturas.keys())
series_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [16]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df_arr = pd.DataFrame(arr)
df_arr

             0           1           2
0    91.117092  104.532851   93.573791
1   115.942451   82.075731   97.663684
2    90.792742  111.222855  106.579894
3   115.507294  110.071407   90.632097
4    87.953762  105.788245   81.836459
5    97.408266   83.926227   82.562562
6   110.568354   92.858359   90.171461
7   116.106661  104.741886   95.658963
8    88.399245   80.818973  122.170521
9   103.419379   89.344623  101.388765
10  115.899524  105.395202   95.408662
11  123.517128   97.124531   99.024365
12  109.170406   87.652313  101.830112
13   99.081341  101.191114   98.132025
14   95.818769   99.967472   86.759562
15   85.472423  107.640818   85.843639
16  118.220005   94.757185   86.194316
17   99.208982  105.983640  116.904358
18  100.783985  106.128037  119.107271
19   97.028862   92.608580  113.103343

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [20]:
#seu código aqui
df_arr.index = np.arange(1, 21)
df_arr.columns = ['x1', 'x2', 'x3']
df_arr

            x1          x2          x3
1    91.117092  104.532851   93.573791
2   115.942451   82.075731   97.663684
3    90.792742  111.222855  106.579894
4   115.507294  110.071407   90.632097
5    87.953762  105.788245   81.836459
6    97.408266   83.926227   82.562562
7   110.568354   92.858359   90.171461
8   116.106661  104.741886   95.658963
9    88.399245   80.818973  122.170521
10  103.419379   89.344623  101.388765
11  115.899524  105.395202   95.408662
12  123.517128   97.124531   99.024365
13  109.170406   87.652313  101.830112
14   99.081341  101.191114   98.132025
15   95.818769   99.967472   86.759562
16   85.472423  107.640818   85.843639
17  118.220005   94.757185   86.194316
18   99.208982  105.983640  116.904358
19  100.783985  106.128037  119.107271
20   97.028862   92.608580  113.103343

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [22]:
# seu código aqui
df_arr['media'] = df_arr.mean(axis = 1)
df_arr

            x1          x2          x3       media
1    91.117092  104.532851   93.573791   96.407912
2   115.942451   82.075731   97.663684   98.560622
3    90.792742  111.222855  106.579894  102.865164
4   115.507294  110.071407   90.632097  105.403599
5    87.953762  105.788245   81.836459   91.859488
6    97.408266   83.926227   82.562562   87.965685
7   110.568354   92.858359   90.171461   97.866058
8   116.106661  104.741886   95.658963  105.502503
9    88.399245   80.818973  122.170521   97.129580
10  103.419379   89.344623  101.388765   98.050922
11  115.899524  105.395202   95.408662  105.567796
12  123.517128   97.124531   99.024365  106.555341
13  109.170406   87.652313  101.830112   99.550944
14   99.081341  101.191114   98.132025   99.468160
15   95.818769   99.967472   86.759562   94.181935
16   85.472423  107.640818   85.843639   92.985627
17  118.220005   94.757185   86.194316   99.723835
18   99.208982  105.983640  116.904358  107.365660
19  100.783985  106.128037  119.107271  108.673098
20   97.028862   92.608580  113.103343  100.913595

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [25]:
# seu código aqui
df_arr['log_med'] = np.log(df_arr['media'])
df_arr

            x1          x2          x3       media   log_med
1    91.117092  104.532851   93.573791   96.407912  4.568588
2   115.942451   82.075731   97.663684   98.560622  4.590672
3    90.792742  111.222855  106.579894  102.865164  4.633419
4   115.507294  110.071407   90.632097  105.403599  4.657797
5    87.953762  105.788245   81.836459   91.859488  4.520260
6    97.408266   83.926227   82.562562   87.965685  4.476947
7   110.568354   92.858359   90.171461   97.866058  4.583600
8   116.106661  104.741886   95.658963  105.502503  4.658735
9    88.399245   80.818973  122.170521   97.129580  4.576046
10  103.419379   89.344623  101.388765   98.050922  4.585487
11  115.899524  105.395202   95.408662  105.567796  4.659353
12  123.517128   97.124531   99.024365  106.555341  4.668664
13  109.170406   87.652313  101.830112   99.550944  4.600670
14   99.081341  101.191114   98.132025   99.468160  4.599838
15   95.818769   99.967472   86.759562   94.181935  4.545228
16   85.472423  107.640818   85.843639   92.985627  4.532445
17  118.220005   94.757185   86.194316   99.723835  4.602405
18   99.208982  105.983640  116.904358  107.365660  4.676240
19  100.783985  106.128037  119.107271  108.673098  4.688344
20   97.028862   92.608580  113.103343  100.913595  4.614265