# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('demo01.csv')

In [3]:

# As variáveis 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

In [4]:

# Quantidade de missings
df.isna().any()

sexo                     False
posse_de_veiculo         False
posse_de_imovel          False
qtd_filhos               False
tipo_renda               False
educacao                 False
estado_civil             False
tipo_residencia          False
idade                    False
tempo_emprego            False
possui_celular           False
possui_fone_comercial    False
possui_fone              False
possui_email             False
qt_pessoas_residencia    False
mau                      False
dtype: bool

In [5]:

# Tipos de dados de cada variável
for nome, tipo in df.dtypes.items():
    if (tipo != 'float64'):
        valores = ", ".join(df[nome].astype('str').unique())
        print(f'{nome}: {valores} \n')

sexo: M, F

posse_de_veiculo: Y, N

posse_de_imovel: Y, N

qtd_filhos: 0, 1, 3, 2, 4, 5, 14, 7

tipo_renda: Working, Commercial associate, State servant, Pensioner, Student

educacao: Secondary / secondary special, Higher education, Incomplete higher, Lower secondary, Academic degree

estado_civil: Married, Single / not married, Civil marriage, Widow, Separated

tipo_residencia: House / apartment, Rented apartment, Municipal apartment, With parents, Co-op apartment, Office apartment

possui_celular: 1

possui_fone_comercial: 0, 1

possui_fone: 0, 1

possui_email: 0, 1

mau: False, True

In [6]:

# Distribuição da variável resposta (mau)
df['mau'].value_counts()

False    16260
True       390
Name: mau, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [7]:
variaveis = pd.DataFrame(df.dtypes, columns = ['tipo'])
variaveis['qtd_categorias'] = [n for _, n in df.nunique().items()]
variaveis

                          tipo  qtd_categorias
sexo                    object               2
posse_de_veiculo        object               2
posse_de_imovel         object               2
qtd_filhos               int64               8
tipo_renda              object               5
educacao                object               5
estado_civil            object               5
tipo_residencia         object               6
idade                  float64            5298
tempo_emprego          float64            3005
possui_celular           int64               1
possui_fone_comercial    int64               2
possui_fone              int64               2
possui_email             int64               2
qt_pessoas_residencia  float64               9
mau                       bool               2

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [8]:
def criar_dummies(coluna: str) -> pd.DataFrame:
    dados = pd.get_dummies(data=df, columns=[coluna])
    for _, nome in enumerate(dados.columns):
        if nome.startswith(nome):
            novo_nome = nome.replace('-', '').replace('\n', ' ').replace(' / ', ' ').replace(' ', '_').lower()
            dados.rename(columns={nome : novo_nome}, inplace=True)
            
    return dados

In [9]:
df['sexo'] = df['sexo'].map({'M': 0, 'F': 1})
df['posse_de_veiculo'] = df['posse_de_veiculo'].map({'N': 0, 'Y': 1})
df['posse_de_imovel'] = df['posse_de_imovel'].map({'N': 0, 'Y': 1})

In [10]:
df = criar_dummies('tipo_renda')
df = criar_dummies('educacao')
df = criar_dummies('estado_civil')
df = criar_dummies('tipo_residencia')

In [11]:
df.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,...,estado_civil_married,estado_civil_separated,estado_civil_single_not_married,estado_civil_widow,tipo_residencia_coop_apartment,tipo_residencia_house_apartment,tipo_residencia_municipal_apartment,tipo_residencia_office_apartment,tipo_residencia_rented_apartment,tipo_residencia_with_parents
0,0,1,1,0,58.832877,3.106849,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0
1,1,0,1,0,52.356164,8.358904,1,0,1,1,...,0,0,1,0,0,1,0,0,0,0
2,1,0,1,0,52.356164,8.358904,1,0,1,1,...,0,0,1,0,0,1,0,0,0,0
3,0,1,1,0,46.224658,2.106849,1,1,1,1,...,1,0,0,0,0,1,0,0,0,0
4,1,1,0,0,29.230137,3.021918,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [12]:

df_mau = df[df['mau'] == 1]
tab = pd.crosstab(df_mau['possui_email'], df_mau['posse_de_veiculo'])
tab

# A variável possui_email parece mais poderosa para prever a probabilidade de mau = 1 visto que 
# a maior quantidade registros são de possoas que não possuem email

posse_de_veiculo    0    1
possui_email
0                 233  127
1                  14   16

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [13]:
df.to_csv('dados_tratados.csv', index=False)